{% extends 'base_user.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <style>
        html{
            height:100%;
        }
        /* Tooltip container */
        .tooltipcss {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
        }
        
        /* Tooltip text */
        .tooltipcss .tooltiptext {
            visibility: hidden;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px;
            border-radius: 6px;
            
            /* Position the tooltip text - see examples below! */
            position: absolute;
            width: 120px;
            bottom: 100%;
            left: 50%; 
            margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
            z-index: 1;
        }
        
        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltipcss:hover .tooltiptext {
            visibility: visible;
        }

        #filterContainer button{
            margin-bottom:10px;
        }

        /*LOADER*/
        .loaderContainer {
            width: 112px;
            height: 112px;
        }
        .loaderContainer .box1,
        .loaderContainer .box2,
        .loaderContainer .box3 {
        border: 16px solid #D7ECFB;
        box-sizing: border-box;
        position: absolute;
        display: block;
        }
        .loaderContainer .box1 {
        width: 112px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
        -webkit-animation: anime1 4s 0s forwards ease-in-out infinite;
                animation: anime1 4s 0s forwards ease-in-out infinite;
        }
        .loaderContainer .box2 {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
        -webkit-animation: anime2 4s 0s forwards ease-in-out infinite;
                animation: anime2 4s 0s forwards ease-in-out infinite;
        }
        .loaderContainer .box3 {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
        -webkit-animation: anime3 4s 0s forwards ease-in-out infinite;
                animation: anime3 4s 0s forwards ease-in-out infinite;
        }
        @-webkit-keyframes anime1 {
        0% {
            width: 112px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        12.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        25% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        37.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        50% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        62.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        75% {
            width: 48px;
            height: 112px;
            margin-top: 0px;
            margin-left: 0px;
        }
        87.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        100% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        }
        @keyframes anime1 {
        0% {
            width: 112px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        12.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        25% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        37.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        50% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        62.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        75% {
            width: 48px;
            height: 112px;
            margin-top: 0px;
            margin-left: 0px;
        }
        87.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        100% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        }
        @-webkit-keyframes anime2 {
        0% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        12.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        25% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        37.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        50% {
            width: 112px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        62.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        75% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        87.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        100% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        }
        @keyframes anime2 {
        0% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        12.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        25% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        37.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        50% {
            width: 112px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
        }
        62.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        75% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        87.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        100% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        }
        @-webkit-keyframes anime3 {
        0% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        12.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        25% {
            width: 48px;
            height: 112px;
            margin-top: 0px;
            margin-left: 64px;
        }
        37.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 64px;
        }
        50% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 64px;
        }
        62.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 64px;
        }
        75% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 64px;
        }
        87.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 64px;
        }
        100% {
            width: 112px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        }
        @keyframes anime3 {
        0% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        12.5% {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
        }
        25% {
            width: 48px;
            height: 112px;
            margin-top: 0px;
            margin-left: 64px;
        }
        37.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 64px;
        }
        50% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 64px;
        }
        62.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 64px;
        }
        75% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 64px;
        }
        87.5% {
            width: 48px;
            height: 48px;
            margin-top: 64px;
            margin-left: 64px;
        }
        100% {
            width: 112px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
        }
        }          
        /*END LOADER*/ 

        .chartContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

    </style>
{% endblock %}

{% block body %}
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12" style="padding-top:80px;text-align:center;">
            {# Barra de botones #}
            <div class="row">

            </div>
            {# Contenido #}
            <div id="cardsContainer" class="row" style="display:flex;justify-content:center;align-items:center;margin-bottom:40px;">
                <div class="col-lg-4 col-12" style="margin-bottom: 25px;">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <p>Fecha</p>
                            <input type="text" id="daterange" name="daterange"/>
                        </div>
                        <div class="col-12 col-lg-12">
                            <p></p>
                            <a href="#" class="btn btn-success" id="filterCharts">
                                <i class="fa fa-search"></i> Filtrar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="chartDiv col-lg-8 col-12">
                    <h2>Pedidos Realizados</h2>
                    <div class="chartContainer">
                        <canvas id="orderChart" style="display: none;"></canvas>
                        <div class="loaderContainer orderChartLoader" style="display: ;">
                            <div class="box1"></div>
                            <div class="box2"></div>
                            <div class="box3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function(){
            
            // BTN Filtro
            $("#filterCharts").unbind("click");
            $("#filterCharts").click(function(){
                loadCharts();
            });

            var locale = {
                format: 'DD/MM/YYYY',
                applyLabel: "{% trans %}daterange.accept{% endtrans %}",
                cancelLabel: "{% trans %}daterange.cancel{% endtrans %}",
                fromLabel: "{% trans %}daterange.from{% endtrans %}",
                toLabel: "{% trans %}daterange.to{% endtrans %}",
                customRangeLabel: "{% trans %}daterange.customRange{% endtrans %}",
                daysOfWeek: [
                    "{% trans %}daterange.lun{% endtrans %}",
                    "{% trans %}daterange.mar{% endtrans %}",
                    "{% trans %}daterange.mie{% endtrans %}",
                    "{% trans %}daterange.jue{% endtrans %}",
                    "{% trans %}daterange.vie{% endtrans %}",
                    "{% trans %}daterange.sab{% endtrans %}",
                    "{% trans %}daterange.dom{% endtrans %}",
                ],
                monthNames: [
                    "{% trans %}daterange.enero{% endtrans %}",
                    "{% trans %}daterange.febrero{% endtrans %}",
                    "{% trans %}daterange.marzo{% endtrans %}",
                    "{% trans %}daterange.abril{% endtrans %}",
                    "{% trans %}daterange.mayo{% endtrans %}",
                    "{% trans %}daterange.junio{% endtrans %}",
                    "{% trans %}daterange.julio{% endtrans %}",
                    "{% trans %}daterange.agosto{% endtrans %}",
                    "{% trans %}daterange.septiembre{% endtrans %}",
                    "{% trans %}daterange.octubre{% endtrans %}",
                    "{% trans %}daterange.noviembre{% endtrans %}",
                    "{% trans %}daterange.diciembre{% endtrans %}",
                ],
            };

            //DATERANGE
            var start = moment().subtract(15, 'days');
            var end = moment();
            $('#daterange').daterangepicker({
                startDate: start,
                endDate: end,
                locale: locale,
                ranges: {
                    "{% trans %}daterange.hoy{% endtrans %}": [moment(), moment()],
                    "{% trans %}daterange.ayer{% endtrans %}": [moment().add(-1, 'days'), moment().add(-1, 'days')],
                    "{% trans %}daterange.last7{% endtrans %}": [moment().subtract(6, 'days'), moment()],
                    "{% trans %}daterange.mes{% endtrans %}": [moment().startOf('month'), moment().endOf('month')],
                    "{% trans %}daterange.mesOld{% endtrans %}": [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    "{% trans %}daterange.year{% endtrans %}": [moment().startOf('year'), moment().endOf('year')],
                    "{% trans %}daterange.yearOld{% endtrans %}": [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
                },
            });
            
            var orderChart = null;

            function loadCharts(){
                // Carga de pedidos por día
                $(".orderChartLoader").fadeIn(0);
                $("#orderChart").fadeOut(0);
                $.ajax({
                    url: "{{url('getOrdersPerDay')}}",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        "startDate":new Date($('#daterange').data('daterangepicker').startDate._d).toLocaleDateString('es-ES'),
                        "endDate":new Date($('#daterange').data('daterangepicker').endDate._d).toLocaleDateString('es-ES')
                    },
                    success: function(result){
                        if(result.status && result.data){
                            $(".orderChartLoader").fadeOut(500);
                            var labelsToLoad = [];
                            var dataToLoad = [];
                            result.data.forEach(function(eachData){
                                labelsToLoad.push(eachData.date);
                                dataToLoad.push(eachData.count);
                            });
                            if(orderChart != null){
                                orderChart.destroy();
                            }
                            orderChart = new Chart($("#orderChart"), {
                                type: 'bar',
                                data: {
                                    labels: labelsToLoad,
                                    datasets: [{
                                        label: 'Pedidos creados',
                                        data: dataToLoad,
                                        backgroundColor: '#D7ECFB',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
                            setTimeout(function(){
                                $("#orderChart").fadeIn(500);
                            },700);
                        }else{
                            Swal.fire(
                                'Algo fue mal',
                                result.message,
                                'error'
                            );
                        }
                    }
                });
            }

            loadCharts();

        });
    </script>
{% endblock %}
